<body>
    <header>
        <div class="header-left">
            <%= image_tag "avatar.jpg",class: "avatar" %>
        </div>
        <div class="header-center">
            <h1 class="logo">Solist</h1>
        </div>
        <div class="header-right">
            <%= image_tag "menu.png", class: "menu-icon", id: "menu-icon" %>
        </div>
    </header>

    <nav id="dropdownMenu" class="dropdown-menu">
        <ul>
            <li><%= link_to "スタートページ", root_path %></li>
            <li><a href="#profile">ダミーダミー</a></li>
            <li><a href="#settings">ダミーダミー</a></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, data: {turbo_method: :delete}%></li>
        </ul>
    </nav>

<!-- 以下、Profile作成フォームのパーツ -->
<main>
  <section class="profile-new">
    <h2>プロフィールを新規作成する</h2>
    <p>プロフィールはいくつでも作成できます。楽器ごとに異なる顔を持ちましょう！</p>

<%= form_with model: profile, local: true do |f| %>
      <p>画像ファイル</p>
  <%= f.file_field :image, class: "profile-form-file" %>
      <p>名前</p>
  <%= f.text_field :name, class: "profile-form-name" %>
      <p>紹介文</p>
  <%= f.text_area :text, class: "profile-form-text" %>
  <%= f.submit "作成する", class: "profile-form-submit" %>
<% end %>

  </section>
</main>
</body>
