<div class="header-left", id="avatar-icon">
  <% if current_profile %>
    <%= image_tag current_profile.image,class: "avatar",id: "avatar-icon" %>
    <div class="avatar-name"><%= current_profile.name %></div>
  <% else %>
    <%= image_tag "avatar.jpg",class: "avatar",id: "avatar-icon" %>
  <% end %>
</div>
<%= link_to(root_path, class: 'header-center') do %>
    <h1 class="logo">Solist</h1>
<% end %>
<div class="header-right">
    <%= image_tag "menu.png", class: "menu-icon", id: "menu-icon" %>
</div>