<li><%= link_to "新規プロフィール作成", new_profile_path %></li>

<% if profile and profile.id%>
  <li><%= link_to "#{profile.name}の編集", edit_profile_path(profile.id) %></li>

  <li><%= link_to "#{profile.name}の削除", profile_path(profile.id), data: {turbo_method: :delete} %></li>
<% end %>

<li><%= link_to "プロフィール一覧", "#" %></li>
<% profiles.each_with_index do |profile, i| %>
  <li><%= link_to "#{i+1} - #{profile.name}", profile_path(profile.id) %></li>
<% end %>

<li><%= link_to "ログアウト", destroy_user_session_path, data: {turbo_method: :delete}%></li>