<body>
    <header>
        <%# -------ヘッダー部分------- %>
        <%= render partial: "header", locals: { current_profile: @current_profile } %>
    </header>

    <nav id="dropdownAvatar" class="dropdown-avatar">
      <ul>
        <%# -------アバター部分------- %>
        <%= render partial: "avatar", locals: { current_profile: @current_profile, profiles: @profiles } %>
      </ul>
    </nav>

    <nav id="dropdownMenu" class="dropdown-menu">
      <ul>
        <%# -------メニュー部分------- %>
        <%= render partial: "menu", locals: { current_profile: @current_profile, profiles: @profiles } %>
      </ul>
    </nav>

    <main>
        <%# -------プロフィール部分------- %>
        <%= render partial: "profile", locals: { profile: @profile } %>

        <%# -------サウンド部分------N+1注意----- %>
        <%= render partial: "sounds/soundBox", locals: { profile: @profile, current_profile: @current_profile, sounds: @sounds, comments: @comments } %>
    </main>
</body>