<h1>Profiles#show</h1>
<p>Find me in app/views/profiles/show.html.erb</p>

<%= image_tag @profile.image.variant(resize: '500x500') %>
<%= @profile.name %>
<%= @profile.text %>

<%= link_to "演奏者情報の編集", edit_profile_path(@profile.id) %>
<%= link_to "演奏者情報の削除", profile_path(@profile.id), data: {turbo_method: :delete} %>
<%= link_to "演奏者のトップページ", profile_sounds_path(@profile.id) %>
