<div class="login-header">
    <div class="header-center">
        <h1 class="logo">Solist</h1>
    </div>
</div>

<main>
  <section class="user-signup" id="devise">
    <h2>新規登録画面</h2>
    <p>はじめまして、ようこそ！</p>
    <p><%= link_to '登録済みの方はこちら', new_user_session_path %></p>

    <%# ログイン時のエラーメッセージ  %>
    <div class='login-flash-message'>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>

    <%= form_with model: @user, url: user_session_path, class: "user-form", local: true do |f| %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "user-form-field" %>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "user-form-field" %>
        <%= f.password_field :password_confirmation, autocomplete: "current-password", placeholder: "パスワード確認", class: "user-form-field" %>
      <%= f.submit "ログイン",class: "user-form-submit" %>
    <% end %>
  </section>
</main>
