<% if @current_profile %>

  <%= form_with model: [ sound, Comment.new ], class:"comment-top" do |f| %>
    <%= f.text_area :text, placeholder: "コメントを入力できます", class: "comment-form-text", id: "text" %>
    <%= f.hidden_field :comment_index, value: i %>
    <%= f.submit "OK", class:"comment-submit", id: "submit" %>
  <% end %>

<% end %>

<div id="comments-each">
  <% sound.comments.reverse_each do |comment| %>
    <div class="comment-bottom">

      <%= link_to profile_path(comment.profile), class:"comment-left" do %>
        <%= image_tag comment.profile.image, class: "comment-avatar" %>
        <div class="comment-name"><%= comment.profile.name %></div>
      <% end %>

      <div class="comment-right">
        <div class="comment-text"><%= comment.text %></div>
      </div>

      <% if @current_profile && @current_profile == comment.profile %>
        <%= link_to "削除", sound_comment_path(sound, comment, index: i), data: { turbo_method: :delete, turbo_confirm: "削除しますか?" }, turbo: true, class: "comment-delete" %>
      <% end %>

    </div>
  <% end %>
</div>
