<%= turbo_stream.update "comment_#{@i}" do %>
  <%= render partial: "comments/commentBox", locals: { sound: @sound, i:@i } %>
<% end %>

<%= turbo_stream.update "alert" do %>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
<% end %>