<%= form_with model: @sound, local: true do |f| %>
  <p>音声ファイル</p>
  <%= f.file_field :sound,accept: "audio/mpeg,audio/wav,audio/ogg,audio/mp4,audio/x-m4a", class: "sound-form-file" %>

  <%# new edit での処理の違い %>
  <% unless @sound.profile_id %>
    <%= hidden_field_tag :profile_id, @current_profile.id %>
  <% else %>
    <%= hidden_field_tag :profile_id, @sound.profile_id %>
  <% end %>

  <%= render 'layouts/error', model: f.object %>

  <p>タイトル・説明文(必須)</p>
  <%= f.text_field :text, class: "sound-form-text", id: "text" %>
  <%= f.submit "OK", class: "sound-form-submit", id: "submit" %>
<% end %>