<%= form_with model: [profile, sound], local: true do |f| %>
  <p>音声ファイル(0000Mb以下)</p>
  <%= f.file_field :sound, class: "sound-form-file" %>

    <%# --------エラーメッセージ--------- %>
    <%= render 'layouts/error', model: f.object %>

  <p>タイトル・説明文(必須)</p>
  <%= f.text_field :text, class: "sound-form-text" %>
  <%= f.submit "OK", class: "sound-form-submit" %>
<% end %>