<div class="sounds-box">
  <% sounds.each do |sound| %>
    <div class="sound-each">
      <div class="sound-top">
        <%= image_tag sound.profile.image.variant(resize: '100x100'), class: "sound-profile" %>
        <textarea rows="3" class="sound-text"><%= sound.text %></textarea>
      </div>
      <%= audio_tag url_for(sound.sound), controls: true, class: "audio" %>

      <% if profile and profile.id%>
        <div class="sound-actions">
          <div><%= link_to "詳細", profile_sound_path(profile.id, sound.id) %></div>
          <% if sound.profile.user.id == current_user.id%>
            <div><%= link_to "編集", edit_profile_sound_path(profile.id, sound.id) %></div>
            <div><%= link_to "削除", profile_sound_path(profile.id, sound.id), data: { turbo_method: :delete } %></div>
          <% end %>
        </div>
      <% end %>


    </div>
  <% end %>
</div>