<div class="sounds-box">
  <% sounds.each_with_index do |sound, i| %>
    <div class="sound-each">
      <div class="sound-top">
        <%= link_to profile_path(sound.profile.id), class:"sound-image-name" do %>
          <%= image_tag sound.profile.image, class: "sound-profile" %>
          <div class="sound-name"><%= sound.profile.name %></div>
        <% end %>
        <textarea rows="3" class="sound-text"><%= sound.text %></textarea>
      </div>
      <%= audio_tag url_for(sound.sound), controls: true, class: "audio" %>

        <div class="sound-actions">
          <div><%= link_to "詳細", profile_path(sound.profile.id), class:"sound-actions-text", id:"showProfile" %></div>
          <% if sound.profile.user.id == current_user.id%>
            <div><%= link_to "編集", edit_sound_path(sound.id), class:"sound-actions-text", id:"editSound" %></div>
            <div><%= link_to "削除", sound_path(sound.id), data: { turbo_method: :delete }, class:"sound-actions-text", id:"deleteSound" %></div>
          <% end %>
          <div class="comment-hide", id="sound_<%= i %>">コメント<%= sound.comments.count %></div>
        </div>

    </div>

    <%# -------コメント部分------- %>
    <% if current_profile %>
      <div class="comment-box", id="comment_<%= i %>">
        <%= render partial: "sounds/commentBox", locals: { sound: sound, current_profile: current_profile } %>
      </div>
    <% end %>

  <% end %>


</div>